img {
	width: 250px;
	height: 250px; 
}

.button-custom{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    opacity: 0;
}

.button-custom:hover{
	opacity: 1;
	transition: opacity 0.5s;
}