@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lora&display=swap');

h1 {
	color: rgba(104,5,0);
	font-family: 'Bangers', cursive;
}


#button-fadeOut {
	animation:  button-fadeOut 0.5s 1;
	-webkit-animation:  button-fadeOut 0.5s 1;
	animation-fill-mode:  forwards;

	animation-delay:  2s;
	-webkit-animation-delay:  2s;
	-wekit-animation-fill-mode:  forwards;
}

@keyframes button-fadeOut{
	from {opacity: 1;}
	to {opacity: 0;}
}

@-webkit-keyframes button-fadeOut{
	from {opacity: 1;}
	to {opacity: 0;}	
}